.board-header{
    background: #F8F9FA;
    min-height: 66px;
}
.board-header .board-header-title h5{
    margin-bottom: 3px !important;
}
.vertical-dec{
    width: 1px;
    background: #dee2e6;
}
.board-todo-list-item-header {
    font-size: 19px;
    width: 235px;
}