.toast {
    font-family: inherit !important;
}
.toast-success {
    color: #fff !important;
    background: #000 !important;
}
.toast-error {
    color: #fff !important;
    background: #6c757d  !important;
}
main{
    width: 83%;
    background: #ECECF0;
}
.opacity-0{
    opacity: 0;
}
::-webkit-scrollbar{
    width: 0px;
}