.toast {
    font-family: inherit !important;
}
.toast-success {
    color: #fff !important;
    background: #000 !important;
}
.toast-error {
    color: #fff !important;
    background: #6c757d  !important;
}
main{
    width: 100%;
    background: #ECECF0;
}
.opacity-0{
    opacity: 0;
}
::-webkit-scrollbar{
    width: 0px;
    height: 8px;
    border-radius: 5px;
    background: #000;
}
::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5px;
}
#pointer{
    position: absolute;
    transition: .2s;
    width: 3px;
    height: 3px;
    background: #000000;
}